<IfModule mod_rewrite.c>
    <IfModule mod_negotiation.c>
        Options -MultiViews -Indexes
    </IfModule>

    <IfModule mod_headers.c>
        <Files ~ "(example)+\.php">
            #Header set crossDomain: true
            #
            ## Allow CORS from one domain
            #Header set Access-Control-Allow-Origin "https://src.example.org"
            ## Allow CORS from multiple domain
            SetEnvIf Origin "http(s)?://(www\.)?(example.org|src.example.org)$" AccessControlAllowOrigin=$0
            Header set Access-Control-Allow-Origin %{AccessControlAllowOrigin}e env=AccessControlAllowOrigin
            #
            ## Origin, X-Requested-With, Content-Type, Accept, X-Auth-Token
            Header set Access-Control-Allow-Headers: "X-Requested-With"
            #
            ## "GET, POST"
            Header set Access-Control-Allow-Methods "POST"
            #
            #Header set Access-Control-Allow-Credentials true
            #Header set Access-Control-Max-Age 60
        </Files>
    </IfModule>
    RewriteEngine On

    # Handle Authorization Header
    RewriteCond %{HTTP:Authorization} .
    RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]

    # Redirect Trailing Slashes If Not A Folder...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_URI} (.+)/$
    RewriteRule ^ %1 [L,R=301]

    # Send Requests To Front Controller...
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^ index.php [L]
</IfModule>
